/* Local fonts (offline) */

/* Amiri */
@font-face {
  font-family: "Amiri";
  src: url("./fonts/Amiri/Amiri-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amiri";
  src: url("./fonts/Amiri/Amiri-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Amiri";
  src: url("./fonts/Amiri/Amiri-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amiri";
  src: url("./fonts/Amiri/Amiri-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Reem Kufi */
@font-face {
  font-family: "Reem Kufi";
  src: url("./fonts/ReemKufi/static/ReemKufi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reem Kufi";
  src: url("./fonts/ReemKufi/static/ReemKufi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reem Kufi";
  src: url("./fonts/ReemKufi/static/ReemKufi-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Reem Kufi";
  src: url("./fonts/ReemKufi/static/ReemKufi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Material Symbols Rounded (اختياري لجعل الأيقونات بدون تحميل خارجي)
   1) حمّل ملف woff2 وضعه هنا: ./fonts/MaterialSymbolsRounded.woff2
   2) بعدها فعّل التعريفات التالية.
*/
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MaterialSymbolsRounded.woff2") format("woff2");
  font-display: block;
}
.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}